body {
  background-color:  blue;
}
p {
  color: hotpink;
  font-size: 15px;
  font-family: helvetica;
  
}
div{ 
  background-color: blue;
  height:100px; 
  width:100px;
  border:solid red;
  margin: 10px;
  border-radius:50%;
}
ul{ 
  text-decoration: none
}